[submodule "dependencies/go-ethereum"]
	path = dependencies/go-ethereum
	url = https://github.com/UdotCASH/go-uchain.git
[submodule "dependencies/prysm"]
	path = dependencies/prysm
	url = https://github.com/UdotCASH/prysm.git